body{
    text-align: center;
    background-image: url("assets/background_image.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: calibri;
}
a{
    color: white;
    text-align: center;
}
.my_table {
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: white;
}

a:visited {
    color: pink;
}

a:hover {
    color: yellow;
}

a:active {
    color: lightblue;
}